li b{
	font-weight: bold;
	color: black;
}
#landingTitle {
	font-size: 15rem; 
	font-family: 'Trebuchet MS';
}
#landingVersion {
	font-size: 1.5rem; 
	font-family: 'Trebuchet MS'; 
	color:gray;
}

a:hover {
	text-decoration: none;
}
.message-thumb{
	background-color: #fff;
}
.message-thumb:hover{
	background-color: #dfdfdf;
}

.message-sent{
	background-color: #3490dc;
	color: #fff;
	margin-top: 20px;
	padding: 5px;
	min-height: auto;
	width:fit-content; 
    height:fit-content;
	display: flex;
	margin-left: auto;
	border-radius: 3px;
}
.message-sent-container{
	width:fit-content; 
    height:fit-content;
	margin-left: auto;
}
.message-sent-name{
	width:fit-content; 
	margin-left: auto;
	font-size: 12px;
}
.message-recieved{
	background-color: #ababab;
	color: #fff;
	margin-top: 20px;
	padding: 5px;
	min-height: 30px;
	width:fit-content; 
    height:fit-content;
	display: flex;
	margin-right: auto;
	border-radius: 3px;
}
.message-recieved-container{
	width:fit-content; 
    height:fit-content;
	margin-right: auto;
}
.message-recieved-name{
	width:fit-content; 
	margin-right: auto;
	font-size: 12px;
}

#message-container{
	background-color: #fff;
	height: 88vh;
	flex-direction: column;
}

#users-container{
	border-bottom: 1px solid #c3cad1;
	height: 60px;
	flex-grow: 1;
  	overflow: scroll;
}

#messages-container{
	height: 55vh;
	flex-grow: 1;
  	overflow: scroll;
	margin-bottom: 15px;
	border-radius: 3px;
}

#message-send-container{
	margin-top: 0.3rem;
}


/*Profile Page*/

.thumb-overlay:hover{
	display: block;
    opacity: 0.5;
}
.thumb-overlay{
	 display: none; 
}
#landing-top-border {
	height:3rem;
}
#landing-middle-spacer {
	margin-top: 7.5rem;
}
#landing-section-title {
	font-size: 1rem;
	font-family: 'Trebuchet MS';
	color:black;
}
#landing-section-body {
	font-size: 0.95rem;
	font-family: 'Trebuchet MS';
	color:gray;
}
.pl-25 {
	padding-left: 2.5rem;
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url(/profilePictures/default-avatar.png);
    }

